# This is a comment
# Configure the parameters of lkp-extent here.

# 1: Server; 2: Client
ServerNClient = 2

# for Server Use
ServerListenPort = 7777
ServerThreadsNum = 4
# When timeout, the client will be unconnected
ServerTimeControl = 10
ServerflushInterval = 3
# In fact, $ROOT_DIR/testcases
ServerPushPath = testcases
# In fact, $ROOT_DIR/results
ServerResultPath = results

# for Client Use
ServerAddress = 114.212.125.145
ServerPort = 7777
HeartBeatTime = 5
ClientPushPath = lkp-tests/jobs





