# This is a comment
# Configure the parameters of lkp-extent here.

# for Server Use
ServerListenPort = 7777
ServerThreadsNum = 4
# When timeout, the client will be unconnected
ServerTimeControl = 10
ServerflushInterval = 3
# In fact, $ROOT_DIR/testcases
ServerPushPath = testcases
# In fact, $ROOT_DIR/results
ServerResultPath = results

# for Client Use
ServerAddress = 172.28.158.128
ServerPort = 7777
HeartBeatTime = 5
# In fact, $ROOT_DIR/testcases
ClientPushPath = testcases





